extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")                
            .col-md-7             
                h1 #{pagina}
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, repudiandae! Quo aliquam distinctio sit reiciendis sapiente. Sequi blanditiis laborum ipsam delectus nulla, adipisci unde expedita tempore molestiae mollitia nihil reprehenderit.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, repudiandae! Quo aliquam distinctio sit reiciendis sapiente. Sequi blanditiis laborum ipsam delectus nulla, adipisci unde expedita tempore molestiae mollitia nihil reprehenderit.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, repudiandae! Quo aliquam distinctio sit reiciendis sapiente. Sequi blanditiis laborum ipsam delectus nulla, adipisci unde expedita tempore molestiae mollitia nihil reprehenderit.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat doloremque adipisci est non perferendis deserunt debitis.                 

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat doloremque adipisci est non perferendis deserunt debitis.                 


                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat doloremque adipisci est non perferendis deserunt debitis.                 